@import './mixins.scss';

#details{
    &{
        flex-flow: column nowrap;
        background-color: hsl(220, 16%, 96%);
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &-text{
        @include breakpoint-down(small){
            text-align: center;
        }
        
        p{
            width: 50%;

            @include breakpoint-down(small){
                width: 100%;
            }
        }
    }

    &-container{
        flex-flow: row wrap;
        margin: 25px 0px;
        // border: 1px solid green;

        .cards{
            width: 22%;

            img{
                padding-bottom: 30px;;
            }

            h3{
                padding-bottom: 20px;
            }
        }

        @include breakpoint-down(medium){
            .cards{
                width: 48%;
                margin: 5px;
            }
        }

        @include breakpoint-down(small){
            flex-flow: row wrap;
            text-align: center;

            .cards{
                width: 100%;
                margin: 10px 0px;
            }
        }
    }
}
