@import './mixins.scss';

#details{
    &{
        flex-flow: column nowrap;
        background-color: hsl(220, 16%, 96%);
        padding-top: 2.5em;
        padding-bottom: 2.5em;
    }

    &-text{
        @include breakpoint-down(small){
            text-align: center;
        }
        
        p{
            width: 50%;

            @include breakpoint-down(small){
                width: 100%;
            }
        }
    }

    &-container{
        flex-flow: row wrap;
        margin: 1.5625em 0;
        // border: 1px solid green;

        .cards{
            width: 22%;

            img{
                padding-bottom: 1.875em;
            }

            h3{
                padding-bottom: .9375em;
            }
        }

        @include breakpoint-down(medium){
            .cards{
                width: 48%;
                margin: .3125em;
            }
        }

        @include breakpoint-down(small){
            flex-flow: row wrap;
            text-align: center;

            .cards{
                width: 100%;
                margin: .625em 0;
            }
        }
    }
}
