@import './mixins.scss';

*{
    font-family: 'Public Sans', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

h1{
    font-size: 1.8125em;
    color: hsl(233, 26%, 24%);
    font-weight: 300;
    margin: 1.25em 0;
}

h2, h3, h4, h5{
    font-size: 1.375em;
}

p{
    line-height: 1.6;
    color: hsl(233, 8%, 62%);
    font-size: 1em;
}

.p-all{
    padding: 18em 7em;

    @include breakpoint-down(medium){
        padding: 18em 4em;
    }

    @include breakpoint-down(small){
        padding: 18em 2em;
    }
}

.p-l{
    padding-left: 8em;

    @include breakpoint-down(medium){
        padding-left: 4em;
    }

    @include breakpoint-down(small){
        padding: 0;
    }
}

.p-lr{
    padding-left: 8em;
    padding-right: 8em;

    @include breakpoint-down(medium){
        padding-left: 7em;
        padding-right: 7em;
    }

    @include breakpoint-down(small){
        padding-left: 2em;
        padding-right: 2em;
    }
}

.p-tb{
    padding: 15.625rem 0em;
}

.p-p-tb{
    padding-top: 0.9375em;
    padding-bottom: 0.9375em;
}

.flex-c{
    display: flex;
    justify-content: center;
}

.flex-sa{
    display: flex;
    justify-content: space-around;
}

.flex-sb{
    display: flex;
    justify-content: space-between;
}

.flex-se{
    display: flex;
    justify-content: space-evenly;
}

btn, .btn{
    width: 9.375em;
    height: 2.5em;
    border-radius: 3.125em;
    border: none;
    cursor: pointer;
    background: linear-gradient(to left, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: white;
    font-weight: 900;
    font-size: .875em;
}